@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
    background: url("/assets/supply-chain-finance.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-origin: content-box;
    background-size: 100%;
}
